body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.renderer {
    /*width: 50%;
    height: 500px;*/
}

.canvas {
    background-color: black;
    margin-top: 50px;
}